<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 

<body class="home">
    <%- include('./partials/header') %> 
   

    <main class="mainhome">
        <section class=" imageng">

            <img src="/img/imghome/18.png" alt="">
            <ul class="bolitas">
                <li class="seleccion"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>


        </section>
        <section class="menuanimal">
            <a href=""><img src="/img/imghome/menuperro.jfif" alt=""></a>
            <a href=""><img src="/img/imghome/menugato.jfif" alt=""></a>
            <a href=""><img src="/img/imghome/menuave.jfif" alt=""></a>
            <a href="" class="extramenuanimal"><img src="/img/imghome/menupez.jfif" alt=""></a>

        </section>
        <section class="homeventa">
            <section class="menuseleccion">
                <h2 class="seleccionado">ofertas</h2>
                <h2>novedades </h2>
            </section>

            <section class="homearticulos">
                <div class="moverflecha">
                    <img src="/img/imghome/flecha2.jpg" alt="">
                </div>

                <% let tipovista=['productohome','productohometablet','productohomedestock',];
                    for (let index = 0; index < 3; ) { %>
                         
                     <%- include('./partials/productoHome',{vistaProducto:tipovista[index], imagen:productos[index].imagen, nombre:productos[index].titulo,  precio:productos[index].precio, id:productos[index].id}) %>
                     <%index++  }%>
                   
               
                
                <div class="moverflecha">
                    <img src="/img/imghome/flecha1.jpg" alt="">
                </div>
            </section>


            <section class="homearticulos">
                <div class="moverflecha">
                    <img src="/img/imghome/flecha2.jpg" alt="">
                </div>
                <%
                    for (let index = 0; index < 3; ) {%>
                        <%- include('./partials/productoHome',{ vistaProducto:tipovista[index], imagen:productos[index].imagen, nombre:productos[index].titulo, precio:productos[index].precio , id:productos[index].id}) %>
                     <%index++  }%>
                   
               
                <div class="moverflecha">
                    <img src="/img/imghome/flecha1.jpg" alt="">
                </div>
            </section>



            <h3>SELECCIONE POR MARCA</h3>
            <section class="marcas">
                <article class="marca">
                    <div class="imgproducto">
                        <img src="/img/imghome/purinamarca.jfif" alt="">
                    </div>
                    <div class="imgproducto">
                        <img src="/img/imghome/Whiskas-logo.png" alt="">
                    </div>
                    <div class="imgproducto">
                        <img src="/img/imghome/royalcanin.png" alt="">
                    </div>
                    <div class="imgproducto">
                        <img src="/img/imghome/royalcanin.png" alt="">
                    </div>


                </article>
                <article class="marca">
                    <div class="imgproducto">
                        <img src="/img/imghome/purinamarca.jfif" alt="">
                    </div>
                    <div class="imgproducto">
                        <img src="/img/imghome/Whiskas-logo.png" alt="">
                    </div>
                    <div class="imgproducto">
                        <img src="/img/imghome/royalcanin.png" alt="">
                    </div>
                    <div class="imgproducto">
                        <img src="/img/imghome/royalcanin.png" alt="">
                    </div>


                </article>

            </section>
    </main>


    <%- include('./partials/footer') %>

   


</body>

</html>