<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body class="login">
        <%- include('./partials/header') %>

            <main>
                <div class="oreja1"></div>
                <div class="oreja2"></div>
                <section class="todo">
                    <h3>Login</h3>
                    <br>
                    <article class="inicio-de-sesion">
                        <form action="" method="post">

                            <div class="sector-email">
                                <h3> Email</h3>
                                <input class="type-user" name="email" id="email" type="text"
                                    placeholder="Correo electronico">
                                <small class="error-msg" id="errorEmail">
                                    <%= locals.errors && errors.telefono? errors.telefono.msg : null %>
                                </small>
                            </div>

                            <div class="sector-pass">
                                <h3> Contraseña</h3>
                                <input class="type-pass" name="pass" id="pass" type="password" placeholder="Contraseña">
                                <small class="error-msg" id="errorPass">
                                    <%= locals.errors && errors.pass? errors.pass.msg : null %>
                                </small>
                            </div>

                            <div>
                                <input class="save-pass" name="recordame" type="checkbox"> Mantener la sesión iniciada
                                <br>
                                <a class="lost-pass" href=""> ¿Olvidaste tu contraseña?</a>
                            </div>

                            <div class="linkeados">
                                <button class="init" type="submit">Iniciar sesión</button>
                                <br>
                                <a class="create-user" href="/register"> ¿No tienes cuenta? Crear una cuenta</a>
                            </div>

                        </form>
                    </article>
                </section>
            </main>

            <script src="/js/loginValidator.js"></script>

            <%- include('./partials/footer') %>

    </body>

</html>