
<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body class="perfil">

    <%- include('./partials/header') %>
    <main class="vistaUser">
 
        <section class="datos">
            <h4>Nombre de usuario</h4>
            <p><%=locals.sessionuser.nombre %></p>
            <h4>Apellido</h4>
            <p><%=locals.sessionuser.apellido %></p>
            <h4>Genero</h4>
            <p><%=locals.sessionuser.genero %></p> 
            <h4>Correo electronico</h4>
            <p><%=locals.sessionuser.email %></p> 
        </section>

    </main>
    <%- include('./partials/footer') %>
</body>
</html>