<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body class="register">

        <%- include('./partials/header') %>
            <main>
                <h1>Regístrese en Loving Paws y acceda a los mejores descuentos </h1>
                <form action="/register" method="post">
                    
                    <section class="container bottom">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" placeholder="Ingrese su nombre">
                        <small class="error-msg" id="errorName">
                            <%= locals.errors && errors.name? errors.name.msg : null %>
                        </small>
                    </section>
                    
                    <section class="container bottom">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="Ingrese su email">
                        <small class="error-msg" id="errorEmail">
                            <%= locals.errors && errors.email? errors.email.msg : null %>
                        </small>
                    </section>
                    
                    <section class="container bottom">
                        <label for="pass">Contraseña</label>
                        <input type="password" name="pass" id="pass" placeholder="Ingrese su contraseña">
                        <i class="fas fa-eye-slash" id="eye-pass"></i>
                        <small class="error-msg" id="errorPass">
                            <%= locals.errors && errors.pass? errors.pass.msg : null %>
                        </small>
                    </section>
                    
                    <section class="container bottom">
                        <label for="pass2">Confirme su contraseña</label>
                        <input type="password" name="pass2" id="pass2" placeholder="Confirme su contraseña">
                        <i class="fas fa-eye-slash" id="eye-pass2"></i>
                        <small class="error-msg" id="errorPass2">
                            <%= locals.errors && errors.pass2? errors.pass2.msg : null %>
                        </small>
                    </section>

                    <section class="container bottom">
                        <label for="image">suba su foto de perfil</label>
                        <input type="file" name="image" id="image">
                        <small class="error-msg" id="errorAvatar">
                            <%= locals.errors && errors.avatar? errors.avatar.msg : null %>
                        </small>
                    </section>

                    <section class="buttons">
                        <button type="submit">Registrarme</button>
                        <button type="reset">Cancelar</button>
                    </section>

                    <a href="/login">¿Ya esta registrado? Inicie sesion</a>
                </form>
            </main>
            <script src="/javascript/registerValidator.js"></script>
            <%- include('./partials/footer') %>

    </body>

</html>