<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="informacion">

        <%- include('../partials/header') %>

        <main class="marcas" id="marcas">

            <section class="gran_marca">
                <img class="imgb" src="/img/imgmarca/<%=marca.imagen %>" alt="">
            </section>
            <section class="descripcion">
                <h1>descripcion</h1>
                <p>
                    dhsudusjasfishduhjsssssssssssssssss
                    ssssssssssssssssssssssssssssiuhu
                    sldmksmdksmdkas
                    skdsndjsndjanmksmd
                    skdnmskdmsd
                </p>
            </section>
            
            <div class="glider-contain">
                <div class="glider">
                    <% producto.forEach((productos,index)=> { %>
                        <%- include('../partials/productoHome2',{ imagen:productos.imagen,
                            nombre:productos.titulo, precio:productos.precio,
                            id:productos.id}) %>
                            
        
                        <% }) %> 
                    
                </div>

                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>
            
            

            
           
        </main>

        <%- include('../partials/footer') %>

    </body>

</html>